/.vscode
/files

Assignment/Ex0/test.c
Assignment/Ex0/test
Assignment/Ex0/check/check_submition.py
Assignment/Ex0/check/readme.txt
Assignment/Ex0/check/inputs/input1.txt
Assignment/Ex0/check/inputs/input2.txt
Assignment/Ex0/check/inputs/input3.txt
Assignment/Ex0/check/inputs/input4.txt
Assignment/Ex0/check/outputs/output1.txt
Assignment/Ex0/check/outputs/output2.txt
Assignment/Ex0/check/outputs/output3.txt
Assignment/Ex0/check/outputs/output4.txt
Assignment/Ex1/checker/inputs/input1.txt
Assignment/Ex1/checker/inputs/input2.txt
Assignment/Ex1/checker/inputs/input3.txt
Assignment/Ex1/checker/inputs/input4.txt
Assignment/Ex1/checker/outputs/output1.txt
Assignment/Ex1/checker/outputs/output2.txt
Assignment/Ex1/checker/outputs/output3.txt
Assignment/Ex1/checker/outputs/output4.txt
Assignment/Ex1/out1.txt
