/.vscode
/files

Assignment/Ex0/test.c
Assignment/Ex0/test
Assignment/Ex0/check/check_submition.py
Assignment/Ex0/check/readme.txt
Assignment/Ex0/check/inputs/input1.txt
Assignment/Ex0/check/inputs/input2.txt
Assignment/Ex0/check/inputs/input3.txt
Assignment/Ex0/check/inputs/input4.txt
Assignment/Ex0/check/outputs/output1.txt
Assignment/Ex0/check/outputs/output2.txt
Assignment/Ex0/check/outputs/output3.txt
Assignment/Ex0/check/outputs/output4.txt
Assignment/Ex1/checker/inputs/input1.txt
Assignment/Ex1/checker/inputs/input2.txt
Assignment/Ex1/checker/inputs/input3.txt
Assignment/Ex1/checker/inputs/input4.txt
Assignment/Ex1/checker/outputs/output1.txt
Assignment/Ex1/checker/outputs/output2.txt
Assignment/Ex1/checker/outputs/output3.txt
Assignment/Ex1/checker/outputs/output4.txt
Assignment/Ex1/out1.txt
Assignment/Ex2/מטלה 3 מחרוזות.pdf
Assignment/Ex2/checker/input/input.txt
Assignment/Ex2/checker/input/input1.txt
Assignment/Ex2/checker/input/input2.txt
Assignment/Ex2/checker/input/input3.txt
Assignment/Ex2/checker/input/input4.txt
Assignment/Ex2/checker/output/output.txt
Assignment/Ex2/checker/output/output1.txt
Assignment/Ex2/checker/output/output2.txt
Assignment/Ex2/checker/output/output3.txt
Assignment/Ex2/checker/output/output4.txt
תרגול/T7/6 מצביעים.pdf
תרגול/T8/7 מחרוזות ומבנים.pdf
Assignment/Ex2/test
Assignment/Ex2/string_func
Assignment/Ex3/Checker/inputs/input1.txt
Assignment/Ex3/Checker/inputs/input2.txt
Assignment/Ex3/Checker/inputs/input3.txt
Assignment/Ex3/Checker/inputs/input4.txt
Assignment/Ex3/Checker/inputs/input5.txt
Assignment/Ex3/Checker/outputs/output1.txt
Assignment/Ex3/Checker/outputs/output2.txt
Assignment/Ex3/Checker/outputs/output3.txt
Assignment/Ex3/Checker/outputs/output4.txt
Assignment/Ex3/Checker/outputs/output5.txt
